/** { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }*/
html,body,#root {
  height: 100%;
  width:100%;
  font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.mainContainer{
  display: flex;
  min-height: 100%;
}
.contForCards{  
  margin-top:50px;
/*  min-height: 100%;
  min-width: calc(100% + 150px);*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
/*  flex-direction: column;*/
  align-items: center;
  justify-content: center
}

nav{

  z-index: 1;
  position: fixed;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
/*  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/

  min-width: 100%;
/*  background: #0f1a2a;*/
/*  background:#38a7ba;*/
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,26,42,1) 35%);


}
ul{
  padding: 0;
}
ul a{
  margin:0px 10px 0px 10px;
}
.nav-links{


/*  width:40%;*/
  display: flex;
/*  flex-direction: column;*/
/*  justify-content: space-around;
  align-items: center;*/
  list-style: none;
}
.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);

}
.card {
  width: 460px;
  height: 230px;
 border-radius: 5px;

 background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  position: relative;
  }

.cardWrapper{
  margin:40px;
}
.cardCalc{
   background-image: url(./assets/card-calculator.jpg);
}
.cardUrl{
   background-image: url(./assets/card-url.jpg);
}
.cardWP{
   background-image: url(./assets/card-wordpress.jpg);
}
.cardQuotes{
   background-image: url(./assets/card-with-quote.jpg);
}


.c {
  position: absolute;
  max-width: 460px;
  max-height: 230px;
  width: 50ch;
  height: 50ch;
/*  cursor: pointer;*/
  will-change: transform, opacity;
}
.c {
   pointer-events: none; 
     box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

.front,
.back {
  background-size: cover;
}

.front {
  background-image: url(./assets/card-withMountain.jpg);
}

.back {
  background-image: url(./assets/card-with-buildings.jpg);
}
.flippedCardWrapper{
  margin: 10px;
  position: relative;
    max-width: 460px;
  max-height: 230px;
  width: 50ch;
  height: 50ch;
/*  cursor: pointer;*/
  will-change: transform, opacity;
}
.git-hub-button{
  position: absolute;
  top:20px;
  left:40px;
}

a{
  color: white;
  fill: white;
}
a:hover {
  color: #38a7ba;
  fill: #38a7ba;
}

.contactsCard{
  background-image: url(./assets/card-contacts.jpg);
}
.emailCard{
  background-image: url(./assets/card-withMountain.jpg);
}
textarea {
  color:#38a7ba;
  background: #0f1a2a;
  resize: none;
  margin:10px;
}
h3{
  margin:5px;
}
a{
  text-decoration: none;
    display: flex;
  flex-direction: row;
/*  justify-content: space-around;*/
  align-items: center;
}
p{
  margin:0;
}
.finnished{
   pointer-events: auto;
}
.finnished:hover{
 pointer-events: auto;
}
.linkInHome{
 
  margin-left:5px;
  color:white;
   background-color:#38a7ba;
/*   border:solid 2px #38a7ba;*/
   border-radius: 5px;
}
.linkInHome:hover{
 
  margin-left:5px;
  color:#38a7ba;
   background-color:#0f1a2a;
/*   border:solid 2px white;*/
   border-radius: 5px;
}
.stylesForText{
  display:flex;
  position: absolute;
  color:white;
}


@media all and (max-width: 640px) {

}
